{% extends 'back/base.html.twig' %}

{% block title %}
	CMS :
	{{ cms.name }}
{% endblock %}

{% block body %}
	<h1 class="back-title">CMS :
		{{ cms.name }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cms.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ cms.name }}</td>
			</tr>
		</tbody>
	</table>
<div class="d-flex flex-column">
	<a href="{{ path('app_back_cms_index') }}" class="btn my-2 col-4">Retour à la liste</a>

	<a href="{{ path('app_back_cms_edit', {'id': cms.id}) }}" class="btn my-2 col-4">Modifier</a>

	{{ include('back/cms/_delete_form.html.twig') }}
</div>
{% endblock %}
