{% extends 'back/base.html.twig' %}

{% block title %}
	Software :
	{{ software.name }}
{% endblock %}

{% block body %}
	<h1 class="back-title">Software :
		{{ software.name }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ software.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ software.name }}</td>
			</tr>
		</tbody>
	</table>
	<div class="d-flex flex-column">
		<a href="{{ path('app_back_software_index') }}" class="btn my-2 col-4">Retour à la liste</a>

		<a href="{{ path('app_back_software_edit', {'id': software.id}) }}" class="btn my-2 col-4">Modifier</a>

		{{ include('back/software/_delete_form.html.twig') }}
	</div>
{% endblock %}
