{% extends 'back/base.html.twig' %}

{% block title %}
	Langage :
	{{ language.name }}
{% endblock %}

{% block body %}
	<h1 class="back-title">Langage :
		{{ language.name }}</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ language.id }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ language.name }}</td>
			</tr>
		</tbody>
	</table>
	<div class="d-flex flex-column">
		<a href="{{ path('app_back_language_index') }}" class="btn my-2 col-4">Retour à la liste</a>

		<a href="{{ path('app_back_language_edit', {'id': language.id}) }}" class="btn my-2 col-4">Modifier</a>

		{{ include('back/language/_delete_form.html.twig') }}
	</div>
{% endblock %}
